.hugo_build.lock
content/.DS_Store
content/home/lab.md.bck
content/talk/brainpainterMICCAI/BrainPainter_presentation.pptx
public.zip
public/
resources/_gen/images/author/admin/avatar_hu43bec08f3653214859cbc5a1a548f1ae_468213_150x150_fill_q90_lanczos_center.jpg
resources/_gen/*
*.DS_Store
static/files/RazvanMarinescu_CV.aux
static/files/RazvanMarinescu_CV.log
static/files/RazvanMarinescu_CV.out
static/files/RazvanMarinescu_CV.synctex.gz
static/files/brains-003306.pkl
static/files/xray-005488.pkl
website.sublime-project
website.sublime-workspace

